.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px #ccc;
}

.case-follow-up-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px; /* Add spacing between case reports and follow-ups */
}