.patient-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px #ccc;
}

.patient-list {
    list-style: none;
}

.patient-list-item {
    margin-bottom: 20px;
}

.doctor-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px #ccc;
}

.doctor-card h1 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

.doctor-card p {
    margin: 5px 0;
}

.doctor-card[property="localhost:8081/schema#specializedIn"]::before {
    content: "Specialization: ";
    font-weight: bold;
}